<h1>Бронирование столиков на {{ date }} в {{ time }}</h1>

<p>Пользователь: {{ user.username }}</p>

<ul>
    {% for entry in table_statuses %}
        <li>
            Столик {{ entry.table.number }} на {{ entry.table.seats }} мест —
            {% if entry.is_free %}
                <span style="color: green;">Свободен</span>
                {% if entry.table.number %}
                    <a href="{% url 'book_table' entry.table.id %}?date={{ date }}&time={{ time }}&duration={{ duration }}">
                        Забронировать
                    </a>
                {% else %}
                    <span style="color: orange;">Ошибка ID</span>
                {% endif %}
            {% else %}
                <span style="color: red;">Занят</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>


    <a href="{% url 'home' %}">
        <button>Отмена</button>
    </a>
</body>
</html>
